.container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    gap: 4px;
}

.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 250px;
    height: 80px;

    padding: 0 15px;
    margin-bottom: 20px;

    border: 2px solid black;
    border-radius: 12px;
    background-color: lightyellow;

    font-size: 26px;
    box-sizing: border-box;
}


.container button {
    width: 80px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
}

.calculator-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.history {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.history-list {
    flex: 1;            
    overflow-y: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202A44;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.calculator-layout {
    width: fit-content;    
    border: 2px solid black;
    padding: 20px;
    border-radius: 12px;
    background-color: lightgray;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35);
}

.clear-history {
    border-radius: 12px;
}